<div id="wrapper">
  <%= render 'header' %>
  <%= render 'menu_nav' %>
  <div id="page-wrapper">
    <br>
    <div class="row">
     
    </div>
    <div class="row" style="padding: 0 1em;">
      <div class="col-lg-12">
        
      </div>
    </div>
  </div>
</div>


