<div id="wrapper">
  <%= render 'header' %>
  <%= render 'menu_nav' %>
  <div id="page-wrapper">
    <br>
    <div class="row">
      <div class="col-lg-12">
        <h4><b><%= image_tag("paquete.png")+"  Pedidos" %></b></h4>
      </div>
    </div>
    <div class="row" style="padding: 0 1em;">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Pedidos</div>
          <div class="panel-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CREO QUE NO SE USA ESTA PARTE -->
<!--script>
  $(document).ready(function() {
  $('#example').DataTable( {
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
  } );
  } );
 </script>

  <script type="text/javascript" src="jquery.dataTables.js"></script>
  <script type="text/javascript" src="dataTables.scrollingPagination.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
      $('#example').dataTable( {
          "pagingType": "scrolling"
      } );
  } );
</script-->
